[run]
source = delphin_6_automation
omit =
    */archive/*
    */ui_parallel_coordinates/*
    */input_files/*
    *__init__*
    *main*
    *sampling_scheme*
    *create_delphin_file.py
    *simulation.py
    *auth*