[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.15.4"
pandas = "==0.23.4"
scipy = "*"
scikit-learn = "==0.20.0"
paramiko = "2.4.2"
sshtunnel = "*"
mongoengine = "==0.15.3"
lxml = "*"
xmltodict = "*"
notifiers = "*"
xlrd = "*"
pytest = "==4.0.0"
pyyaml = "*"
openpyxl = "*"

[dev-packages]
matplotlib = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
